<div>
  <%= render "components/header" %>
  <main>
    <%= render "components/hero" %>
    <%= render "components/primary_features" %>
    <%= render "components/secondary_features" %>
    <%= render "components/call_to_action" %>
    <%= render "components/testimonials" %>
    <%= render "components/pricing" %>
    <%= render "components/faqs" %>
  </main>
  <%= render "components/footer" %>

</div>